<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RingCentral Company Contacts</title>
    <link href="./img/favicon.ico" type="image/vnd.microsoft.icon" rel="shortcut icon">
    <link href="./img/favicon.ico" type="image/vnd.microsoft.icon" rel="icon">
    <script src="js/main.js?v=0.01" type="text/javascript"></script>
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.3/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.3/js/bootstrap-select.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default no-border">
    <span class="left-middle-align">
      <span class="rclogo"><a href="/"><img alt="Brand" src="img/ringcentral.png" height="40"></a></span>&nbsp;&nbsp;
      <span class="title">Export Company Contacts</span>
    </span>
    <!--ul class="nav navbar-nav navbar-left left-align-nav">
      <li class="active"><a href="/readlog">Exports</a></li>
      <li><a href="/recordedcalls">Data List</a></li>
    </ul-->
    <ul class="nav navbar-nav navbar-right middle-align">
      <li><span><b><%- userName %>&nbsp;&nbsp;</b></span></li>
      <li><a href="/about">&nbsp;&nbsp;Help</a></li>
      <li><span>&nbsp;|&nbsp;</span></li>
      <% if (userLevel != 'demo') { %>
      <li><a href="#" onclick="logout()">Logout</a></li>
      <% } %>
    </ul>
  </nav>
  <section id='content'>
    <form class="form-inline">
      <div class="form-group">
        <label class="label-input" for="access_keyid">AWS IAM Access Key</label>
          <input type="text" size="25" id="access_keyid" class="form-control text-input"></input>&nbsp;
        <label class="label-input" for="secret_access_key">AWS Secret Access Key</label>
          <input type="password" size="40" id="secret_access_key" class="form-control text-input" value=""></input>&nbsp;
        <label class="label-input" for="region">Region</label>
          <input type="text" id="region" class="form-control text-input" value="us-east-1"></input>&nbsp;
        <button id="readcontacts" class="btn-rc" onclick="readContacts()" style="display:inline">Read Company Contacts</button>
        <button class="btn-rc" onclick="test()" style="display:inline">Test</button>
      </div>
      <img src='./img/loading.gif' id="logginIcon" style='width:30px;height:30px;display: none'></img>
    </form>
  </section>
  <section id='list'>
    <div class="row table-content">
      <div id="contact_list" class="col-xs-12 table-header">
        <table class="table">
          <thead id="contact_list_header">
            <tr class="header">
              <th width="2%">
                <input type=checkbox width=10 height=10 onchange="selectionHandler(this)"/>
              </th>
              <th width="2%"></th>
              <th width="10%">First name</th>
              <th width="10%">Last name</th>
              <th width="30%">Full name</th>
              <th width="10%">Direct number</th>
            </tr>
          </thead>
          <tbody id="contact_items" class="scrollable_calllist call_list" style="height: 400px">
            <% for (var i = 0; i < contactList.length; i++) { %>
            <tr>
              <td width="2%" class="td-active">
                <input type="checkbox" id="sel_<%= i %>" onchange="selectForDelete(this, '<%= i %>')" />
              </td>
              <td width="10%" class="td-active">
                <div><%= contactList[i]['FirstName'] %></div>
              </td>
              <td width="10%" class="td-active">
                <div><%= contactList[i]['LastName'] %></div>
              </td>
              <td width="30%" class="td-active">
                <div><%= contactList[i]['DisplayName'] %></div>
              </td>
              <td width="10%" class="td-active">
                <div><%= contactList[i]['PhoneNumber'] %></div>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
  </div>
  </section>
  <%- include('_footer') %>
</body>
</html>
